<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DWBookmarkApp"
        android:usesCleartextTraffic="true">


        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-4364320147278105~4283843056" />

        <activity
            android:name=".ui.MainActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 설정 화면 -->
        <activity
            android:name=".ui.SettingsActivity"
            android:exported="false"
            android:label="@string/settings_title"
            android:parentActivityName=".ui.MainActivity" />

        <!--
            브라우저 등 다른 앱의 공유 시트에서 링크를 받는다.
            taskAffinity="" : 공유한 앱의 작업 스택에 끼어들지 않도록 별도 작업으로 실행
            noHistory / excludeFromRecents : 최근 앱 목록과 뒤로가기 기록에 남기지 않음
        -->
        <activity
            android:name=".ui.ShareReceiverActivity"
            android:exported="true"
            android:excludeFromRecents="true"
            android:label="@string/share_target_label"
            android:noHistory="true"
            android:taskAffinity=""
            android:theme="@style/Theme.DWBookmarkApp.Transparent">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>
    </application>
</manifest>